{% extends 'blog/base.html' %}

{% block contenido %}
  <div>
    <h2>{{ publicacion.titulo }}</h2>

    <!-- Mostrar la imagen si existe -->
    {% if publicacion.imagen %}
      <img src="{{ publicacion.imagen.url }}" alt="{{ publicacion.titulo }}">
    {% endif %}

    <p>Contenido: {{ publicacion.contenido }}</p>
    <p>Publicado por {{ publicacion.autor.username }} el {{ publicacion.fecha_creacion }}</p>
  </div>

  <!-- Comentarios -->
  <div id="comentarios">
    <h3>Comentarios</h3>
    {% for comentario in comentarios %}
      <p>{{ comentario.autor.username }} dijo: {{ comentario.texto }}</p>
    {% endfor %}
  </div>

  <!-- Formulario para agregar comentario -->
  <div id="agregar-comentario">
    <h3>Agregar Comentario</h3>
    <form method="post" action="{% url 'detalle_publicacion' pk=publicacion.id %}">
      {% csrf_token %}
      {{ comentario_form.as_p }}
      <button type="submit">Agregar Comentario</button>
    </form>
  </div>
{% endblock %}
