{% extends 'blog/base.html' %}

{% block contenido %}
  <h2>{{ publicacion.titulo }}</h2>
  <p>{{ publicacion.contenido }}</p>
  <p>Publicado por {{ publicacion.autor.username }} el {{ publicacion.fecha_creacion }}</p>

  <h3>Comentarios</h3>
  {% for comentario in comentarios %}
    <p>{{ comentario.autor.username }} dijo: {{ comentario.texto }}</p>
  {% endfor %}

  <h3>Agregar Comentario</h3>
  <form method="post">
    {% csrf_token %}
    {{ formulario_comentario.as_p }}
    <button type="submit">Comentar</button>
  </form>
{% endblock %}