{% extends 'blog/base.html' %}

{% block contenido %}
    <div class="container">
        
        <header class="py-5 bg-light border-bottom mb-4 text-center">
            <h1 class="fw-bolder">Mi Blog</h1>
            <p class="lead mb-0">Comparte lo que quieras</p>
        </header>

        <div class="row">
            
            <div class="col-lg-8">
                {% for publicacion in publicaciones %}
                    <div class="card mb-4">
                        <a href="{% url 'detalle_publicacion' pk=publicacion.id %}">
                            <img class="card-img-top" src="{{ publicacion.imagen.url }}" alt="Imagen de la publicación" />
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{ publicacion.fecha_creacion|date:"d F Y" }}</div>
                            <h2 class="card-title">{{ publicacion.titulo }}</h2>
                            <p class="card-text">{{ publicacion.contenido|truncatewords:30 }}</p>
                            <a class="btn btn-primary" href="{% url 'detalle_publicacion' pk=publicacion.id %}">Leer más →</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    
    <footer class="bg-light py-4 text-center">
        <div class="container">
            <p class="mb-0">© {% now "Y" %} Mi Blog. Todos los derechos reservados. | Fecha y hora: {% now "d F Y H:i:s" %}</p>
        </div>
    </footer>
{% endblock %}
