body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    color: #343a40;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #007bff; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #0056b3; 
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    width: 100%; 
    border-radius: 10px 10px 0 0; 
}

.card-body {
    padding: 20px;
}

h2 {
    color: #007bff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}
